%p= t('This paragraph is rendered using the t() method in a haml view.')

%p= st('haml|This paragraph is rendered using the st() method under the namespace "haml" in a haml view.')

%p= nt('This paragraph is rendered using the nt() method in a haml view.', 'These texts are rendered using the nt() method in a haml view.', 1)

%p= nt('This paragraph is rendered using the nt() method in a haml view.', 'These paragraphs are rendered using the nt() method in a haml view.', 2)
