p = t('This paragraph is rendered using the t() method in a slim view.')

p = st('slim|This paragraph is rendered using the st() method under the namespace "slim" in a slim view.')

p = nt('This paragraph is rendered using the nt() method in a slim view.', 'These texts are rendered using the nt() method in a slim view.', 1)

p = nt('This paragraph is rendered using the nt() method in a slim view.', 'These paragraphs are rendered using the nt() method in a slim view.', 2)
