<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Welcome to xianni0127@sina.com, <%=@.name %></h1>
    <p>
      You have successfully sighed up to xianni0127@sina.com, your username is:<%= @user.login%>.<br>
    </p>
    <p>
      To login to the site, just felloe this link: <%=@user %>.
    </p>
    <p>Thanks for joining and have a greate day!</p>
  </body>
</html>
